#bookmark_edit_pane{ :style => style }
  %h3 Edit Bookmark
  .bookmark_edit_pane_legend_editor
    %span.legend Legend:
    = bookmark_legend_in_place_editor(@bookmark)
  .bookmark_edit_pane_url_editor
    %span.legend Url:
    = bookmark_url_in_place_editor(@bookmark)
  %br/
  = button_to_remote "Done", :url => update_bookmark_path(:id => @bookmark)