#bookmark_edit_pane{ :style => style }
  Click on field to edit:
  %p
    %legend Legend:
    = bookmark_legend_in_place_editor(@bookmark)
  %p
    %legend Url:
    = bookmark_url_in_place_editor(@bookmark)
  %br/
  %br/
  = button_to_remote "Done", :url => update_bookmark_path(:id => @bookmark)