.instructions
  The
  %span.instructions_columns outer boxes
  are Columns.
  Use
  %span.instructions_column_insert_button +
  and
  %span.instructions_otimes &otimes;
  to add and remove columns.
  %br/
  Columns contain
  %span.instructions_sections sections
  \.
  To edit a section title click the
  = image_tag('pen.png')
  next to it.
  %br/
  To move a section between columns, click on the
  %span.section_title Title
  and drag it.
  %br/
  Sections contain
  %span.instructions_bookmarks bookmarks
  (URLs).
  Bookmarks can be dragged between sections.