- @page.columns.each do |column|
  = column.id
  %div[nil, column.dom_id]
    - column.sections.each do |section|
      %div{ :id => section.dom_id }
        %b= section.title
        %ul
        - section.bookmarks.each do |bookmark|
          %li{ :id => bookmark.dom_id }
            %a{ :href => bookmark.url }
              = bookmark.legend
              