%h1 All Webpages

%table#webpagesTable
  %tr
    %th#webpagesUrlHeading Url

  - for webpage in @webpages
    %tr{ :class => cycle('evenrow', 'oddrow') }
      %td.webpageUrl=h webpage.url
      %td.rowAction= link_to 'Show', webpage_path(webpage)
      %td.rowAction= link_to 'Edit', edit_webpage_path(webpage)
      %td.rowAction= link_to 'Destroy', webpage_path(webpage), :confirm => 'Are you sure?', :method => :delete
%br/
#newWebpage
  = link_to 'New webpage', new_webpage_path

