%li.section{ :id => section.dom_id }
  - section_title_id = section.dom_id + "_title"
  .section_title
    = section_title_in_place_editor(section)
  - if section.bookmarks.count > 0
    %ul
      - section.bookmarks.each do |bookmark|
        %li{ :id => bookmark.dom_id }
          %a{ :href => bookmark.url }
            = bookmark.legend