%li.section_title_and_sortable{ :id => section.draggable_id, :style => style }
  - section_title_id = section.dom_id + "_title"
  .section_title
    = section_title_in_place_editor(section)
  %ul.section_sortable{ :id => section.droptarget_id }
    - section.bookmarks.each do |bookmark|
      %li.bookmark_edit{ :id => bookmark.draggable_id }
        = render :partial => "bookmarks/bookmark", :object => bookmark
        